*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  color: #742305;
}

nav {
  background-color: antiquewhite;
  width: 80%;
  min-width: 300px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10em;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

nav * {
  margin: 2px;
  background-color: #ffdf7e;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .item {
  flex: 20px;
  height: 50px;
}

nav .bigBox {
  flex: 2em;
  height: 100px;
  display: flex;
  padding: 20px;
}

.bigBox img {
  flex: 20px;
  height: 60px;
}

.bigBox .shopping {
  flex: 20px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 882px) {
  nav {
    width: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  color: #64280a;
}

.allCard {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 250px;
  background-color: #fbf7e3;
  border-radius: 3em;
  overflow: hidden;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div1 h3 {
  margin-bottom: 0px;
}

.div1 p {
  margin-top: auto;
  text-align: center;
}

.div3 {
  margin-inline: auto;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 15px;
  padding: 4px 25px;
  border: none;
  background-color: #f3df85;
}

.container {
  display: flex;
  background-color: antiquewhite;
  padding: 1em;
  border-radius: 1em;
}

.imgDiv {
  width: 50%;
  margin-right: 15px;
}
.imgDiv img {
  width: -webkit-fill-available;
}

.text {
  width: 50%;
  color: #64280a;
}

.text h2 {
  font-size: 20px;
}

.text p {
  font-size: 16px;
}

@media screen and (max-width: 849px) {
  .container {
    flex-direction: column-reverse;
  }

  .imgDiv {
    width: unset;
    margin-right: 0;
  }

  .text {
    width: unset;
  }
  .text h2 {
    font-size: 27px;
  }
  .text p {
    font-size: 18px;
  }
}

@media screen and (min-width: 850px) and (max-width: 976px) {
  .text p {
    font-size: 13px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  nav {
    border-radius: 0;
  }

  .allPage {
    margin-inline: 12px;
  }

  .allCard {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    max-width: 48%;
    margin-bottom: 25px;
  }

  .secondTitle {
    margin-bottom: 5px;
    font-size: 34px;
  }

  .title {
    font-size: 50px;
    margin-block: 25px;
  }
}
